{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <h1>What Counts as Hours? How Can You Count Them?</h1>
</div>

<div>
    <h1>How Can I Get Hours?</h1>
    <p><center>
        In order to be counted, all outreach hours must be submitted as you complete them, within 7 days<br>
        of the end of the event, to our outreach website. If legitimate, your hours will be approved by<br>
        the Outreach Vice President and a mentor of Mentor Leadership.
    </center></p>

        <center><p>
            <script>
                var firstClicked = false
                var secondClicked = false

                function showText()
                {
                    if(!firstClicked && secondClicked)
                    {
                        var primaryButton = document.getElementById("volunteering_events")
                        var secondaryButton = document.getElementById("year_round")

                        primaryButton.click = secondaryButton.click()
                        secondClicked = false
                        firstClicked = true
                    }
                    else if(!secondClicked && firstClicked)
                    {
                        var primaryButton = document.getElementById("year_round")
                        var secondaryButton = document.getElementById("volunteering_events")
                        
                        primaryButton.click = secondaryButton.click()
                        secondClicked = true
                        firstClicked = false
                    }
                    
                }
            </script>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#volunteering" aria-expanded="false" aria-controls="collapseExample" id = "volunteering_events" onclick="">
            Volunteering events (including, but not limited to):
            <script>
                firstClicked = true
                functionText()
                print("no")
            </script>
            </button>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#offsiteOutreach" aria-expanded="false" aria-controls="collapseExample" onclick="" id = "year_round">
            Year-round offsite outreach:
            
            <script>
                secondClicked = true
                functionText()
            </script>
            </button>
        </center></p>

        <div class = collapse id = "volunteering"><div class="card card-body">
            <p><center>
                The following volunteering events, which are subject to change, are those we attend year-round.<br>
                Listed next to each event is its approximate month, the potential number of hours you can earn<br>
                for your volunteering, and the approximate number of students who will be chosen to volunteer.<br>
                Please keep in mind that each event may span more than one day.
            </center></p>
                <ol>
                    <li>Feed my Starving Children (January, 3 hours, 7 students)</li>
                    <li>ARIS STEM Summit (February, 4 hours, 11 students)</li>
                    <li>Triangle School Science Fair (February, 3 hours, 15 students)</li>
                    <li>Woods Road School Science Fair (March, 2 hours, 10 students)</li>
                    <li>HES Science Fair (March, 2 hours, 10 students)</li>
                    <li>Amsterdam School Science Fair (April, 3 hours, 10 students)</li>
                    <li>Relay for Life (April, 3+ hours, 7 students) </li>
                    <li>Take Your Child To Work Day (April, 7 hours, 8 students) </li>
                    <li>Exploration Fair (June, 4 hours, 20 students) </li>
                    <li>Summer Enrichment (June; over 10 days, 3 hours/day, 10 students)</li>
                    <li>4H Fair (August; over 3 days, 3 hours/day, 8 students/day)</li>
                    <li>Rotary Fair (August; over 5 days, 5 hours/day, 10 students/day)</li>
                    <li>Steeplechase Run (September, 5 hours, 5 students) </li>
                    <li>Barnes and Noble (Nov-Dec; over 4 events, 5 hours/event, 3 students)</li>
                </ol>
            </div>
        </div>

        <div class = collapse id = "offsiteOutreach"><div class="card card-body">
            <p><center>
                This list contains the number of hours you can earn for outreach that is non-event volunteering.<br>
                Each hour count next to the outreach is the exact number of hours you will earn for completing<br>
                the task (no more, no less). Your work must be placed into the respective folder in the team<br>
                drive for Executive Leadership to approve.
            </center></p>
                <ol>
                    <li>Virtual mentoring writing one script (1 hour)</li>
                    <li>Virtual mentoring filming one video (1.5 hours)</li>
                    <li>WISE-in-a-Box video writing one script (1 hour)</li>
                    <li>WISE-in-a-Box filming one video (1.5 hours)</li>
                    <li>BoroBlast referee kit building (5 hours)</li>
                    <li>Mentoring a FIRST team (may vary; hours must be approved by the Team Coach)</li>
                    <li>Other outreach planning (may vary; hours will be set by the lead and Outreach Vice President)</li>
                    <li> BoroBlast referee attending FLL events for training (may vary; hours must be approved by Adult Lead of BoroBlast Referees)</li>
                </ol>
            </div>
        </div>
</div>

<br>
<div>
    <h2>How Can I Count My Hours?</h2>
    <center>
    <p>
        In order to record your hours, each member will have to fill out the designated attendance sheet for a volunteering event.
        <br>More information as well as a template of the attendance sheet can be found here:
    </p>
    <a class="btn btn-primary btn-lg" href=https://docs.google.com/document/d/1nt5HYFtKPItSk2XPqo7jYOJvuOrfVBpuaxDOBGp5vis/edit?usp=sharing role="button">
        Attendance Sheet
    </a>
    </center>
</div>

{% endblock %}