{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
        <h1 class="display-4">Create an Account</h1>
        <p class="lead">Answer the following questions and click submit to initiate your account!</p>
        <!-- <hr class="my-4">
        <p>If you are unsure as to what may be considered outreach or have any other concern click here:</p>
        <a class="btn btn-primary btn-lg" href="/Good_Standing" role="button">Learn more</a> -->


  <form action="new_user" method="POST">
    {{ form.hidden_tag() }}

    {{ form.student_name.label }} {{ form.student_name() }}
    <br>
    {{ form.student_ID.label }} {{ form.student_ID() }}
    <br>
    {{ form.grad_year.label }} {{ form.grad_year() }}
    <br>
    {{ form.student_email.label }} {{ form.student_email() }}
    <br>
    {{ form.subteam.label }} {{ form.subteam() }}
    <br>
    {{ form.submit() }}

</form>
 
{% endblock %}