{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
        <h1 class="display-4">View My Hours</h1>
        <p class="lead">Type in your student ID and click submit to view the hours you've worked.</p>


<form>
    <center>
    <div class="form-group">
        <label for="exampleFormControlInput1">Student ID</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="123456">
    </div>
    <a class="btn btn-primary btn-lg" href="#" role ="button" button onclick = 'showAlert("Under Construction!")'>Submit</a>
    </center>
  </form>
 
{% endblock %}