{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <center>
        <h1>Productivity Points</h1>      
        <p>Use the form below to input productivity points after each completed deliverable. This form can only be accessed by student leadership.</p>
        <p>For information and guidelines on productivity points, click here: </p>
        <a class="btn btn-primary btn-lg" href="/about_us" role="button">Learn more</a>
    </center>    
</div>



  <form>
        <div class="jumbotron">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">First Name</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Last Name</label>
            <input type="password" class="form-control" id="inputPassword4">
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
            <label for="inputAddress">Student school email</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="@htps.us">
            </div>
            <div class="form-group col-md-6">
            <label for="inputAddress2">Student ID</label>
            <input type="text" class="form-control" id="inputAddress2" >
            </div>
        </div>
        <div class="form-group">
                <label for="exampleFormControlSelect1">Select Deliverable</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Deliverable 1</option>
                  <option>Deliverable 2</option>
                  <option>Deliverable 3</option>
                  <option>Deliverable 4</option>
                  <option>Deliverable 5</option>
                </select>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
                <label for="quantity">Total Points Earned:</label>
                <input type="number" id="quantity" name="quantity" min="1" max="100">
          </div>
          <div class="form-group col-md-6">
                <label for="quantity">Total Possible Points:</label>
                <input type="number" id="quantity" name="quantity" min="1" max="100">
            </div>
        </div>
        
        <div class="form-group">
                <label for="exampleFormControlTextarea1">Member Performance Decription </label>
                <p>Please elaborate on the student's behavior/cooperation/respectfulness/timeliness when completing the deliverable.</p>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      







{% endblock %}